.carousel-inner .item{
	background-size: cover;
}


.img01{
	background: transparent url('images/DSC_2748.jpg') center no-repeat;
}

.img02{
	background: transparent url('images/DSC_2756.jpg') center no-repeat;
}

.img03{
	background: transparent url('images/DolDeBretagne.png') center no-repeat;
}